// -------------------------//
// BASE CODE
// ----------------------------------------------------------------------//
* {
  box-sizing: border-box;
  margin: 0;
}

html, body { height: 100%; }

// Container
// -------------------------
.container {
  margin: 0 auto;
  max-width: 960px;
}

// Micro-Clearfix hack
// -------------------------
.clear {
  *zoom: 1;

  &:before,
  &:after {
    content: " ";
    display: table;
  }

  &:after {
    clear: both;
  }
}